input[type=email], input[type=password],input[type=tel] {
  width: 100%;
  padding: 12px 20px;
border-radius:15px;}
#slogan{font-family:Arial Rounded MT;}
form{
background-color:white;
float:middle;
width:400px;
height:600px;
border: 1px solid black;
border-radius:25px;
border-color:orange;
margin-top:35px;
margin-left:425px;
padding-left:50px;
padding-top:0px;
padding-bottom:50px;
padding-right:50px;
}
input[type=submit]:hover {
  opacity: 0.8;
  background-color:Orange;
}


input[type=submit]
{
width:50%;
background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;}